<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainWindowIsFullScreen</key>
	<true/>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSelection</key>
	<array>
		<integer>1</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {175, 550}}</string>
		<string>{{176, 0}, {724, 550}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>B5D0D05D-F22E-4BE7-9D98-5E4D9D67672D</string>
		<string>11556BDD-FB4F-4D24-9ED5-B68896488880</string>
	</array>
	<key>collectionsHeight</key>
	<real>101</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenBackgroundFade</key>
	<real>0.89999997615814209</real>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenPaperHeight</key>
	<integer>-1</integer>
	<key>fullScreenPaperPosition</key>
	<integer>0</integer>
	<key>fullScreenPaperWidth</key>
	<integer>746</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<true/>
	</dict>
	<key>inspectorIsCollapsed</key>
	<true/>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>0A35741E-B91A-4113-8247-47BEDF5D6624</string>
	</array>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>2</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B5D0D05D-F22E-4BE7-9D98-5E4D9D67672D</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>11556BDD-FB4F-4D24-9ED5-B68896488880</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0A35741E-B91A-4113-8247-47BEDF5D6624</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 1049}, {620, 464}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{2805, 0}</string>
	<key>mainDocumentEditor.selectedTextRanges</key>
	<string>3455,0</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 306 900 572 0 0 1440 878 </string>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
