<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 650}}</string>
		<string>{{266, 0}, {769, 650}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>mainWindowFrame</key>
	<string>0 206 1035 672 0 0 1440 878 </string>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
